element {
         background-image: url(./Imagefolder/background.jpg')
}
h1 {
  color: rgb(2, 2, 31);
  font-size: 2em;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

div.a {
  text-align: right;
} 

div.content { width: 750px }

body{ margin: 300px; auto; }


btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;}