body {
  background-color: rgb(231, 224, 212);
}
h1 {
  color: rgb(2, 2, 31);
  font-size: 2em;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

div.a {
  text-align: right;
} 

div.content { width: 750px }

body{ margin: 300px; auto; }
